[tool.black]
line-length = 120
target-version = ["py310"]
skip-string-normalization = false

[tool.isort]
profile = "black"
line_length = 120
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true
skip = ["venv", "migrations"]

[tool.ruff]
line-length = 120
target-version = "py310"
select = ["E", "F", "I", "B"]
ignore = []
exclude = [
  "venv",
  "**/migrations/*",
]

[tool.ruff.per-file-ignores]
"**/tests/**" = ["S101"]
