<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <title>El Edén | {% block title %} {% endblock %}</title>
</head>
<body>
    {% if request.path != '/login/' %}
    {% include "layouts/navbar.html" %}
    {% endif %}


    {% block content %}
    {% endblock %}


    {% include "layouts/footer.html" %}

</body>
</html>
