{% extends 'layouts/base.html' %} {% block title %}Inicio{% endblock %} 
{% block content %} {% comment %}
<!-- Header Section -->

{% include 'inicio/header.html' %}

<section class="grid grid-cols-1 md:grid-cols-2 gap-2 p-4 justify-items-center">
  <div class="card bg-base-100 image-full w-96 shadow-sm">
    <figure>
      <img
        src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
        alt="Shoes"
      />
    </figure>
    <div class="card-body">
      <h2 class="card-title">Productos</h2>
      <p>Observa todos los productos que ofrecemos</p>
      <div class="card-actions justify-end">
        <a href="{% url 'productos' %}" class="btn btn-primary">Ver Más</a>
      </div>
    </div>
  </div>
  <div class="card bg-base-100 image-full w-96 shadow-sm">
    <figure>
      <img
        src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
        alt="Shoes"
      />
    </figure>
    <div class="card-body">
      <h2 class="card-title">Servicios</h2>
      <p>Observa todos los servicios que ofrecemos</p>
      <div class="card-actions justify-end">
        <a href="{% url 'servicios' %}" class="btn btn-primary">Ver Más</a>
      </div>
    </div>
  </div>
</section>

{% include 'productos/productosDestacados.html' %} {% endcomment %}

{% endblock %}
